/* Modo CLARO */


@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Poppins:wght@200&family=Roboto:wght@300&display=swap');

/* 
*{
    
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Gabarito',sans-serif ;
}

     */

#modo__1 {
    display: block;

}



.body_page {
    /* body */
    display: block;

    background-color: rgb(206, 200, 252);


    /*   display: flex; */

    height: 800px;
    font-size: 20px;








}


.applyStylesBackground_Font-body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    background-color: rgb(69, 156, 169);



}

.applyStylesSizeFont_FamilyFont-body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;


}

.applyrestoreChanges-body {
    display: flex;
    justify-content: center;
    align-items: center;


}
.applyStylesModeDark-body {
    

    justify-content: center;
    align-items: center;
    background-color: rgb(24, 27, 58);
}


.containter-main {
    /* div container-main contenedor principal */

    align-items: center;

    border: solid 2px black;

    background-color: rgb(6, 9, 41);


    height: fit-content;
    width: 80%;
    padding: 30px;



}

.applyStylesBackground_Font-containter-main {




width: auto;}

.applyStylesSizeFont_FamilyFont-containter-main {
    width: auto;
}

.applyrestoreChanges-containter-main {
    width: auto;
}

.applyStylesModeDark-containter-main{

    background-color: rgba(155, 172, 185, 0.705);
}

.tittle {
    /* h1 */


color: aliceblue;


}

.applyStylesModeDark-tittle {
     color: black;   


}

.applyStylesBackground_Font-tittle {
    width: auto;
}

.applyStylesSizeFont_FamilyFont-tittle {
    width: auto;
}

.applyrestoreChanges-tittle {
    width: auto;
}

.paragraph-1 {
    /* p */
    font-style: oblique;
  
    color: aliceblue;


}

.applyStylesModeDark-paragraph-1 {


  color: black;
}

.applyStylesBackground_Font-paragraph-1 {
    width: auto;
}

.applyStylesSizeFont_FamilyFont-paragraph-1 {
    width: auto;
}

.applyrestoreChanges-paragraph-1 {
    width: auto;
}

.checkbox-label {

    color: aliceblue;
}

.applyStylesModeDark-checkbox-label {

    color: black;

}

.applyStylesBackground_Font-checkbox-label {
    width: auto;
}

.applyStylesSizeFont_FamilyFont-checkbox-label {
    width: auto;
}

.applyrestoreChanges-checkbox-label {
    width: auto;
}

.checkbox_input {
    display: block;

}

.applyStylesModeDark-checkbox_input {
    width: auto;
}

.applyStylesBackground_Font-checkbox_input {
    width: auto;
}

.applyStylesSizeFont_FamilyFont-checkbox_input {
    width: auto;
}

.applyrestoreChanges-checkbox_input {
    width: auto;
}

.checkbox-container {
    /* div checkbox-container contenedor checkbox */
    display: none;
    border: solid 2px black;
    background-color: rgba(0, 26, 255, 0.425);

}

.applyStylesModeDark-checkbox-container {
    width: auto;
}

.applyStylesBackground_Font-checkbox-container {
    width: auto;
}

.applyStylesSizeFont_FamilyFont-checkbox-container {
    width: auto;
}

.applyrestoreChanges-checkbox-container {
    width: auto;
}

.btn-container {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* div btn-container Contendor de botones */
    border: solid 2px black;
    background-color: rgba(0, 132, 255, 0.24);
    min-height: 100px;

}

.applyStylesModeDark-btn-container {

    width: auto;
}

.applyStylesBackground_Font-btn-container {
    width: auto;
}

.applyStylesSizeFont_FamilyFont-btn-container {
    width: auto;
}

.applyrestoreChanges-btn-container {
    width: auto;
}




.button-1 {
    /* btn btn button-1 boton 1 */
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(228, 201, 165);


}

.applyStylesModeDark-button-1 {
    width: auto;
}

.applyStylesBackground_Font-button-1 {
    width: auto;
}

.applyStylesSizeFont_FamilyFont-button-1 {
    width: auto;
}

.applyrestoreChanges-button-1 {
    width: auto;
}

.button-2 {
    /* btn btn button-2 boton 2 */
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(162, 219, 219);

}

.applyStylesModeDark-button-2 {
    width: auto;
}

.applyStylesBackground_Font-button-2 {
    width: auto;
}

.applyStylesSizeFont_FamilyFont-button-2 {
    width: auto;
}

.applyrestoreChanges-button-2 {
    width: auto;
}

.button-3 {
    /* btn btn button-3 boton 3 */
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(209, 169, 218);

}

.applyStylesModeDark-button-3 {
    width: auto;
}

.applyStylesBackground_Font-button-3 {
    width: auto;
}

.applyStylesSizeFont_FamilyFont-button-3 {
    width: auto;
}

.applyrestoreChanges-button-3 {
    width: auto;
}


.btn {
    /* btn selector general de botones */

 
    min-width: 400px;
    background-color: rgb(228, 201, 165);
}
.btn:hover {


 
    color: aliceblue;
    background-color: rgba(46, 33, 16, 0.639);
}


.applyStylesBackground_Font-btn {

    padding: 20px;
    color: rgb(230, 241, 255);
    background-color: rgb(60, 76, 92);

}

.applyStylesSizeFont_FamilyFont-btn {

    font-size: 50px;
    padding: 20px;
    background-color: rgb(60, 76, 92);
}

.applyrestoreChanges-btn {

    padding: 20px;
}

.applyStylesModeDark-btn {

    padding: 20px;
    background-color: rgb(202, 186, 167);
    color: rgb(3, 3, 47);
}


.applyStylesBackground_Font-btn:hover{

    opacity: 80%;

}
.applyStylesSizeFont_FamilyFont-btn:hover{

    opacity: 80%;

}
.applyStylesModeDark-btn:hover{

    opacity: 80%;

}