.container_1{



    background-color: aqua;
    height: 560px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.input_container_1{

    height: 40px;
}